{% extends 'default.html' %}
{% load static %}

{% block content %}
    <div id="main_position">
         <div class="hover-text-one">
              <figure class="effect-text-three">
                    <img src="{% static 'img/photo_2024-06-26_01-42-41.jpg' %}" alt="Main photo"/>
                    <figcaption>   <h3 class="p_main_style_text">Welcome to my site</h3>  <p class="p_main_style_text">Glad to see you here, have a nice day!</p>
                    </figcaption>
              </figure>
         </div>
    </div>
{% endblock content %}
