<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1 id="h1_my_hobby"><a class="change-color-link-hobby" href="{% url 'hobbies' %}">Моё хобби</a></h1>
        <ul class="ul1">
            <li><p><a class="change-color-link" href="{% url 'main' %}"><h2>Главная</h2></a></p></li>
            <li><p><a class="change-color-link" href="{% url 'about' %}"><h2>Обо мне</h2></a></p></li>
            <li><p><a class="change-color-link" href="{% url 'contacts' %}"><h2>Обратная связь</h2></a></p></li>
        </ul>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>