<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1 id="h1_my_hobby"><a class="change-color-link" href="#">Моё хобби</a></h1>
        <ul class="ul1">
            <li><a class="change-color-link" href="#"><h2>Главная</h2></a></li>
            <li><a class="change-color-link" href="#"><h2>Обо мне</h2></a></li>
            <li><a class="change-color-link" href="#"><h2>Обратная связь</h2></a></li>
        </ul>
    </header>
</body>
</html>